<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            
            <li>

                @Html.ActionLink("Question 2 ", "Ques2", "Home")


                @Html.ActionLink("View Employee Details", "DetailsEmployee", "Home")

                @Html.ActionLink("View Login Details", "DetailsLogin", "Home")

                @Html.ActionLink("Question 3 ", "Ques3", "Home")
                @Html.ActionLink("Question 4 ", "Ques4", "Home")
                @Html.ActionLink("Question 5 ", "Ques5", "Home")

            </li>

        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>
